<%- include parts/header.ejs %>

  <h1 class="h1 text-center">Vul hier nog enkele gegevens in</h1>

  <form action="bestel" method="post">
    <div class="form-group">
      <label class="label" for="type">Het type</label>
      <select name="type">
      <option value="-1">
        SELECTEER EEN TYPE
      </option>
      <% formules.forEach(function(formule){ %>
        <option value="<%= formule.Name %>">
          <%= formule.Name %>
        </option>
      <% }) %>
    </select>
    </div>
    <div class="form-group">
      <label class="label" for="dag">Dé dag</label>
      <input class="input" class="form-controlFormules" type="date" id="dag" name="dag">
    </div>
    <div class="form-group">
      <label class="label" for="locatie">Dé locatie</label>
      <div class="icon"><i class="fas fa-map-marker"></i></div>
      <input class="input" type="text" class="form-controlFormules" id="locatie" name="locatie">
    </div>
    <div class="form-group">
      <label class="input" for="opmerkingen">Eventuele extra vragen:</label>
      <textarea id="opmerkingen" name="opmerkingen" class="form-controlFormules"></textarea>
    </div>
    <div class="form-group">
      <input class="input" type="submit" class="btn" value="Bestel">
    </div>
  </form>

  <%- include parts/footer.ejs %>
