<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shopping List</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ShoppingList</a>
        </div>
        <div class="">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-area="" asp-controller="Shopping" asp-action="Index">ShoppingList</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container body-content">
    <h2>Edit</h2>

    <h4>Items</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="Edit" method="post">
                <div class="text-danger"></div>
                <input type="hidden" name="Id" value="<%= item[0].Id%>" />
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input name="Name" class="form-control" value="<%= item[0].Name%>" />
                </div>
                <div class="form-group">
                    <label for="Aantal" class="control-label">Aantal</label>
                    <input name="Aantal" class="form-control" value="<%= item[0].Aantal%>" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/">Back to List</a>
    </div>



    <hr />
    <footer>
        <p>&copy; 2018 - ShoppingList</p>
    </footer>

</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</body>
</html>
