<%- include parts/headerProfile.ejs %>


  <img src="images/logo.jpg">

  <h1>Welcome</h1>

  <div>

    <div class="allFlexItems">
      <div class="bigFlexItem">
        <div><a href="changeProfile">Wijzig uw gegevens</a></div>
      </div>
      <div class="otherFlexItems">
        <div class="flex-item"><a href="lookOrders">Bekijk uw bestellingen</a></div>
        <div class="flex-item"><a href="lookPhotos">Bekijk de foto's</a></div>
      </div>
    </div>

    <a class="btn" href="/">Home</a>
    <a id="btnLogout" class="btn" href="#">Log out</a>
    <a id="btnDeleteAccount" class="btn bg-danger" href="#">Delete account</a>

    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-auth.js"></script>
    <script src="javascripts/authScript.js"></script>
    <%- include parts/footer.ejs %>
