<%- include parts/header.ejs %>

<style>
    h1 {
        margin-top: 10%;
    }

    form {
        padding-top: 5%;
    }

    .form-group {
        border-top: solid 1px black;
        margin-top: 5%;
        padding: 5%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control {
        width: 80%;
    }

    .form-control:focus{
        border-color: rgba(196, 142, 42, 0.93);
    }


    .btn {
        background-color: rgba(196, 142, 42, 0.93);
        color: white;
        width: 100%;
        padding: 10%;
        font-size: 25px;
    }

    label {
        font-size: 30px;
        float: left;
        margin-right: 3%;
    }

    .link {
        text-decoration: underline;
        color: rgba(196, 142, 42, 0.93);
    }

</style>

<h1 class="h1 text-center">Register here</h1>


<form action="register" method="post">

    <div class="form-group">
        <label for="name"><i class="fa fa-font"></i></label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="email"><i class="fa fa-at"></i></label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="username"><i class="fas fa-user"></i></label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password"><i class="fas fa-lock"></i></label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="submit" class="btn" value="Register">
    </div>
</form>

<%- include parts/footer.ejs %>