<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <h1>Dit is een testView</h1>
<form id="test" action="/users/jaja" method="post">
<input type="text" name="name" />
</form>
  <button href="#" id="btn">Sign In</button>

  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBG-ahO2gR1OBlCCuErWMoQKsgBIr692qk",
      authDomain: "casamentos-16f05.firebaseapp.com",
      databaseURL: "https://casamentos-16f05.firebaseio.com",
      projectId: "casamentos-16f05",
      storageBucket: "casamentos-16f05.appspot.com",
      messagingSenderId: "658920686702"
    };
    firebase.initializeApp(config);
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        console.log(user.providerData);
        fetch("http://localhost:5000/users/setUser", {
            method: 'POST',
            body: JSON.stringify(user.providerData),
            headers: new Headers({
              'Content-Type': 'application/json'
            })
          }).then(()=>{
            document.getElementById('test').submit();
          });
      } else {
        // No user is signed in.
      }
    });

    let btn = document.getElementById('btn');
    btn.addEventListener('click', (e) => {
      e.preventDefault();
      const auth = firebase.auth();
      const promise = auth.signInWithEmailAndPassword("ste@ste.com", "ste123");
      promise.catch(e => console.log(e.message));
    });
  </script>

</body>

</html>
