body {
  font-family: myFirstFont, sans-serif;
  text-align: center;
}

.logo {
  width: 30%;
  float: left;
  margin-top: 2%;
  margin-right: 3%;
}

.logoCasamentos {
  width: 100%;
}

#socialmedia {
  background-color: rgba(220, 210, 213, 0.91);
  padding: 5%;
  border-radius: 5%;
  position: fixed;
  bottom: 0;
}

img {
  margin-top: 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.navbar {
  background-color: rgba(196, 142, 42, 0.93);
  margin-bottom: 5%;
}

.navbar-nav .nav-link {
  color: white;
  border-bottom: 1px solid white;
  width: 50%;
  text-align: left;
}

.active {
  width: 80%;
}

.navbar-brand {
  color: white;
  padding: 2%;
  font-size: 35px;
}

.navbar-nav .nav-item {
  font-size: 20px;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar {
  height: 150%;
}
