<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Casamentos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    @font-face {
      font-family: myFirstFont;
      src: url('fonts/Ubuntu-Regular.ttf');
    }

    body {
      font-family: myFirstFont, sans-serif;
      text-align: center;
    }

    .navbar {
      background-color: rgba(196, 142, 42, 0.93);
      margin-bottom: 5%;
    }

    .navbar-nav .nav-link {
      color: white;
      border-bottom: 1px solid white;
      width: 50%;
      text-align: left;
    }

    .active {
      width: 80%;
    }

    .navbar-brand {
      color: white;
      padding: 2%;
      font-size: 35px;
    }

    .navbar-nav .nav-item {
      font-size: 20px;
    }

    .navbar-toggler-icon {
      background-color: white;
    }

    .navbar {
      height: 150%;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">Casamentos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <i style="color: white;" class="fas fa-align-justify"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="formules">Formules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fotogalerij">Fotogalerij</a>
        </li>
        <% if(user == null){ %>
        <li class="nav-item">
            <a class="nav-link" href="logIn">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="register">Register</a>
        </li>
        <% } else{ %>
        <li class="nav-item">
            <a class="nav-link" href="goToAccount">Account</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
